<p>Sélectionnez un site et une date dans le mois</p>
<form>

  <label>Service Name</label>
  <select>

    <option *ngFor="let site of sites" [value]="site.id">
      {{site.label}}
    </option>
  </select>

 <full-calendar [options]="calendarOptions"> </full-calendar>

 <table>
   <tr *ngFor="let timeslot of timeslots">
    <td class="{{timeslot.status}}">{{timeslot.start  | date:'short'}} - {{timeslot.end | date:'short'}}
      <button *ngIf="timeslot.status=='free' || timeslot.status=='uncomplete'">s'inscrire</button>  
      <span *ngFor="let booking of timeslot.bookingList">
          <li>{{booking.by.firstName}} {{booking.by.lastName}}</li>
        </span>
    </td>
   </tr>
 </table>
</form>