<p>Veuillez sélectionner un site et une date dans le mois</p>
<br/>
<form>
  <label>Site</label>
  <select (change)="onChange(getValue($event))">

    <option *ngFor="let site of sites; let i = index" [value]="site.id" [attr.selected]='i==selectedSite ? "selected" : null'>
      {{site.label}}
    </option>
  </select>

 <full-calendar [options]="calendarOptions"> </full-calendar>

 <app-timeslots-list [selectedDate]="selectedDate" [selectedSite]="selectedSite" ></app-timeslots-list>

</form>